[submodule "databases/redis-helm-chart"]
	path = databases/redis-helm-chart
	url = https://github.com/kubees/redis-helm-chart
[submodule "microservices/playlist-helm-chart"]
	path = microservices/playlist-helm-chart
	url = https://github.com/kubees/playlist-helm-chart
[submodule "microservices/videos-helm-chart"]
	path = microservices/videos-helm-chart
	url = https://github.com/kubees/videos-helm-chart
[submodule "frontend/webapp-helm-chart"]
	path = frontend/webapp-helm-chart
	url = https://github.com/kubees/webapp-helm-chart
